---
import { getLocale, getPath, getUI } from '~/utils/i18n'

const locale = getLocale(Astro)
const getLocalePath = getPath(locale)
const {
  components: {
    nav: { menu },
  },
} = getUI(locale)
---

<!-- Hidden checkbox for menu toggle -->
<input type="checkbox" id="mobile-menu-toggle" class="peer sr-only lg:hidden" aria-hidden="true" />

<!-- Mobile Slide Menu -->
<div
  id="mobile-menu"
  class="fixed inset-y-0 right-0 z-40 w-64 translate-x-full transform bg-paper shadow-lg transition-transform duration-300 peer-checked:translate-x-0 lg:hidden"
>
  <div class="flex items-center justify-between border-b border-dark px-4 py-2">
    <div class="text-lg font-bold">{menu.menu}</div>
    {/* eslint-disable-next-line jsx-a11y/label-has-associated-control */}
    <label for="mobile-menu-toggle" class="cursor-pointer p-2 text-dark">
      <span class="sr-only">Close menu</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width={2}
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </label>
  </div>
  <nav class="px-4 py-2">
    <ul class="space-y-4">
      <li>
        <a href="https://admin.wolfassets.org" class="block font-bold text-coral hover:opacity-80"
          >Admin Console</a
        >
      </li>
      <li>
        <a href={getLocalePath('/about')} class="block text-dark hover:text-coral"
          >About Us</a
        >
      </li>
      <li>
        <a href={getLocalePath('/privacy-policy')} class="block text-dark hover:text-coral"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a
          href="https://github.com/Wolf-Assets"
          target="_blank"
          class="block text-dark hover:text-coral">GitHub</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/company/wolf-assets/"
          target="_blank"
          class="block text-dark hover:text-coral">LinkedIn</a
        >
      </li>
      <li>
        <a href="mailto:contact@wolfassets.org" class="block text-dark hover:text-coral"
          >Contact Us</a
        >
      </li>
    </ul>
  </nav>
</div>

<!-- Overlay for Mobile Menu -->
{/* eslint-disable-next-line jsx-a11y/label-has-associated-control */}
<label
  for="mobile-menu-toggle"
  class="pointer-events-none fixed inset-0 z-30 bg-black opacity-0 transition-opacity duration-300 peer-checked:pointer-events-auto peer-checked:opacity-50"
  aria-hidden="true"></label>
