---
const { class: className, ...props } = Astro.props

import { icon, library } from '@fortawesome/fontawesome-svg-core'
import { faGithub, faLinkedinIn, faXTwitter } from '@fortawesome/free-brands-svg-icons'
import { cn } from '~/utils/merge'

library.add(faGithub, faXTwitter, faLinkedinIn)
const Github = icon({ prefix: 'fab', iconName: 'github' })
const XTwitter = icon({ prefix: 'fab', iconName: 'x-twitter' })
const LinkedIn = icon({ prefix: 'fab', iconName: 'linkedin-in' })
---

<ul class={cn('flex items-center gap-4 opacity-80', className)} {...props}>
  <li>
    <a
      href="https://github.com/Wolf-Assets"
      target="_blank"
      class="font-bold"
      aria-label="Visit Wolf Assets on GitHub"
    >
      <Fragment set:html={Github.html} />
    </a>
  </li>
  <li>
    <a
      href="https://x.com/WolfAssetsLLC"
      target="_blank"
      class="font-normal"
      aria-label="Visit Wolf Assets on X"
    >
      <Fragment set:html={XTwitter.html} />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/company/wolf-assets/"
      target="_blank"
      class="font-normal"
      aria-label="Visit Wolf Assets on LinkedIn"
    >
      <Fragment set:html={LinkedIn.html} />
    </a>
  </li>
</ul>
